* {
    box-sizing: border-box;
    text-align: center;
}

body{
    text-align: center;
    background-image: url(snake.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid{
    width: 20px;
    height: 20px;

    display: inline-block;

/*    border: .5px solid  rgba(180, 180, 180, 0.46);*/




}
div{
    margin: 0px;
    padding-top: 0px;
}

#row{
  vertical-align: top;
    line-height: 0px;
}
.snakeHead{
    background-color: red;
    border-radius: 10px;
}
.snakeTrail{
    background-color: blue;
    border-radius: 10px;

}

.food{
    background-color: rgba(255, 0, 177, 0.76);
    border-radius: 10px;
}
#maingrid{
    width: 73%;
    margin: auto;
    height: auto;
    background-color: #63c9c9;
    border:2px solid black;
}
